$theme-colors: (
  "primary": #6355b3,
  "secondary": #45386f,
);

.navbar-logo {
  height: 2rem;
  vertical-align: baseline;
}

.nav-button {
  color: #45386f;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
