$theme-colors: (
  "primary": #6355b3,
  "secondary": #45386f,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #212529,
);

.navbar-logo {
  height: 2rem;
  vertical-align: baseline;
}

.nav-button {
  color: #45386f;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
