@import url("https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&display=swap");

$theme-colors: (
  "primary": #6355b3,
  "secondary": #45386f,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #212529,
);

.navbar-logo {
  height: 2rem;
  vertical-align: baseline;
}

.nav-button {
  color: #45386f;
}

.card-img {
  height: 15rem;
  object-fit: cover;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

p,
label,
a {
  font-family: "Hind", sans-serif;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
